[core]
        repositoryformatversion = 0
        filemode = true
        bare = false
        logallrefupdates = true
        sparsecheckout = true
[remote "origin"]
        url = https://github.com/vernesong/OpenClash.git
        fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
        remote = origin
        merge = refs/heads/master
